* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../img/BG.png");
  background-size: cover;
  height: 100vh;
}
.wrapper {
  font-family: "Museo Sans Rounded", sans-serif;
  width: 686px;
  margin: 99px auto;
  background: #111a28;
  box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.82);
  border-radius: 10px;
  position: relative;
}
.logo {
  display: block;
}
.logo img {
  position: absolute;
  top: 20px;
  left: 20px;

  display: block;
}
.product-card {
  display: flex;
  position: relative;
}
.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 117px;
}
.product__colors {
  display: inline-block;
  justify-content: center;
  align-items: flex-end;
}
.rating__colors:not(:last-child) {
  padding-right: 5px;
}
.rating__colors:nth-child(1) {
  background: #1f273f;
  border: 1px solid #7e838b;
}
.rating__colors:nth-child(2) {
  background: #ffffff;
}
.rating__colors:nth-child(3) {
  background: #ed3333;
}
.rating__colors:nth-child(4) {
  background: #29e3ea;
}
.rating {
  display: inline-block;
  justify-content: center;
}
.rating__product {
  list-style: none;
}

.info {
  margin-left: 76px;
  margin-right: 74px;
  margin-top: 69px;
}
.name {
  font-family: "Museo Sans Rounded", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 24px;
  line-height: 26px;
  width: 170px;
  color: #e1e1e1;
  padding-bottom: 10px;
}
.product-info__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 30px;
  color: rgba(225, 225, 225, 0.54);
}
.rating__product {
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}
.rating__star:not(:last-child) {
  padding-right: 1px;
}
.dropping--out {
  padding-bottom: 30px;
  background: #111a28;
}
.size,
.qty {
  width: 69px;
  background: #111a28;
  border: 1px solid rgba(255, 255, 255, 0.26);
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 2px;
}

.button {
  background: #111a28;
  border: 1px solid rgba(255, 255, 255, 0.26);
  box-sizing: border-box;
  padding: 12px 58px;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 250;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 69px;
  color: #e1e1e1;
  cursor: pointer;
}
