* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../img/BG.png");
  background-size: cover;
  height: 100vh;
}
.wrapper {
  font-family: "Museo Sans Rounded", sans-serif;
  width: 686px;
  margin: 99px auto;
  background: #111a28;
  box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.82);
  border-radius: 10px;
  position: relative;
}
.logo {
  display: block;
}
.logo img {
  position: absolute;
  top: 20px;
  left: 20px;

  display: block;
}
.product-card {
  display: flex;
  position: relative;
}
.slider-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 117px;
  text-align: center;
  margin-bottom: 20px;
}
.slider-image img {
  padding-bottom: 76px;
}
.product-card__slider {
  margin-left: 37px;
  margin-right: 76px;
}
.slider__colors {
  display: flex;
  justify-content: center;
}
.slider__color {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slider__color:not(:last-child) {
  margin-right: 5px;
}
.slider-card {
  flex-grow: 1;
}
.slider__color--black {
  background: #1f273f;
  border: 1px solid #7e838b;
}
.slider__color--white {
  background: #ffffff;
}
.slider__color--red {
  background: #ed3333;
}
.slider__color--blue {
  background: #29e3ea;
}
.product-card__info {
  margin-right: 74px;
  margin-top: 69px;
}
.rating {
  display: inline-block;
  justify-content: center;
}
.rating__product {
  list-style: none;
}
.info__name {
  font-family: "Museo Sans Rounded", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 24px;
  line-height: 26px;
  width: 170px;
  color: #e1e1e1;
  padding-bottom: 10px;
}
.info__title {
  font-family: "Museo Sans Rounded", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 30px;
  color: rgba(225, 225, 225, 0.54);
}
.rating__list {
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}
.rating__star:not(:last-child) {
  padding-right: 1px;
}
.info__dropdowns {
  padding-bottom: 30px;
  background: #111a28;
}
.info__dropdown {
  width: 69px;
  background: #111a28;
  border: 1px solid rgba(255, 255, 255, 0.26);
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 2px;
  padding: 5px;
  color: #ffffff;
  appearance: none;
}

.button {
  background: #111a28;
  border: 1px solid rgba(255, 255, 255, 0.26);
  width: 184px;
  padding: 12px 58px;
  font-family: "Museo Sans Rounded", sans-serif;
  font-weight: 250;
  font-size: 14px;
  line-height: 17px;

  color: #e1e1e1;
  cursor: pointer;
}
.info__button {
  margin-bottom: 69px;
}
